{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cafe</title>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
</head>
{% block header %}




<body class="bg-[#f9f9f9]">
  <header class="bg-[#7e5e3d] p-8 shadow-lg bg-cover bg-center bg-[url('static/img/download.jpeg')]">
    <div class="text-center text-white">
      <h1 class="text-5xl font-bold mb-2"> Cafe </h1>
      <h2 class="text-2xl mb-4">A Place for Relaxation and Enjoyment</h2>
      <p class="text-lg mb-4">Join us for delicious menus, fresh coffees, and special events!</p>
    </div>

    <nav class="flex justify-center space-x-6 mt-6 text-white">
      <select
        class=" bg-transparent text-white  border-white mt-1 hover:text-[#b59472] gap-60 border rounded-lg bg-[#b59472]"
        oncanplaythrough="location=this.value;">
        <option class="text-white" value="">catgorye</option>
        <option class="text-white" value="tea">tea</option>
        <option class="text-white" value="option2">cake</option>
        <option class="text-white" value="option3">cafe</option>
      </select>


      <a href="#about" class="hover:text-[#b59472] font-semibold">About Us</a>
      <a href="#contact" class="hover:text-[#b59472] font-semibold">Contact</a>
      <a href="http://127.0.0.1:8000/menu/" class="hover:text-[#b59472] font-semibold">menu</a>
       <a href="#contact" class="hover:text-[#b59472] font-semibold ">login / logout</a>



    </nav>
  </header>
  {% endblock %}
  {% block main %}





  <main class="flex flex-col items-center h-auto mt-10 pt-12 pb-16">
    <p class="text-lg text-[#6c4a2f] mb-6">Welcome to Café! Enjoy our specialty coffee and pastries.</p>




    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
{% for cate_show in cate %}
      <!-- Card -->
      <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
        <img src="{% static 'img/crd1.jpeg' %}" alt="Coffee" class="w-full h-40 object-cover rounded-lg mb-4">

        <h3 class="text-2xl font-semibold text-[#6c4a2f] mb-2">{{ cate_show.titel }}</h3>

        <p class="text-sm text-[#6c4a2f] mb-4">Taste our freshly brewed coffee made from the best beans, carefully
          selected for you.</p>
        <button onclick="location.href='http://127.0.0.1:8000/menu/'"
          class=" bg-[#7e5e3d] text-white py-2 px-4 rounded-full hover:bg-[#b59472] transition-colors">show more
        </button>
      </div>
{% endfor %}
    </div>


    </div>

  </main>

  {% endblock main %}
  {% block footer %}


  <footer class="bg-[#5e3b28] p-2">
  <div class="flex justify-between items-start">
    <!-- map -->
    <div class="w-2/3 mr-6">
      <h3 class="text-lg font-bold text-[#d7b79a] mb-3">Find Us Here (Iran)</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d326344.6593714253!2d51.38897481638812!3d35.68919746714827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01c16a792e71%3A0xd9d2e489df48e6d0!2z2KfYs9mE2Y7YtdmK2KfYp9io2KfYp9mI2YLYqyDZn9mH2YjYt9mG2LzYp9mE2YjYqtmI2YXYqQ!5e0!3m2!1sen!2s!4v1673250746663!5m2!1sen!2s"
        width="100%" height="250" style="border: 2px solid #3c2f27; border-radius: 8px;" allowfullscreen=""
        loading="lazy">
      </iframe>
    </div>

    <!-- comment -->
    <div class="w-1/3 bg-[#6a4e36] p-4 rounded-lg shadow-lg" id="about">
      <h3 class="text-lg font-semibold text-[#f1e0b8] mb-3">We Value Your Feedback</h3>


      <form action="{% url 'createpoll' %}" method="post">
      {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="block text-sm font-medium text-[#f1e0b8]">Name</label>
          <input type="text" id="name" name="name" class="mt-1 p-1.5 w-full rounded-md bg-[#7a5c48] text-[#070604] border border-[#3c2f27] placeholder-[#d7b79a]" placeholder="Your name" required>
        </div>

        
        <div class="mb-3">
          <label for="email" class="block text-sm font-medium text-[#f1e0b8]">Email</label>
          <input type="email" id="email" name="email" class="mt-1 p-1.5 w-full rounded-md bg-[#7a5c48] text-[#020202] border border-[#3c2f27] placeholder-[#d7b79a]" placeholder="Your email" required>
        </div>

        
        <div class="mb-3">
          <label for="message" class="block text-sm font-medium text-[#f1e0b8]">Message</label>
          <textarea id="message" name="message" rows="3" class="mt-1 p-1.5 w-full rounded-md bg-[#7a5c48] text-[#161615] border border-[#3c2f27] placeholder-[#d7b79a]" placeholder="Your message" required></textarea>
        </div>

        
        <button type="submit" class="bg-[#3c2f27] text-[#f1e0b8] px-3 py-1.5 rounded-md hover:bg-[#5e3b28] transition-colors text-sm">Submit</button>
      </form>
    </div>
  </div>

  <p class="text-xs text-[#d7b79a] mt-3">123 Coffee Street, Tehran, Iran</p>
  <p class="text-xs text-[#d7b79a]">© 2025 Tawind Café. All rights reserved.</p>
</footer>
  {% endblock footer %}
</body>

</html>